body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #d9faff;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Lobster', cursive;
  font-size: 5.625rem;
  color: #005792;
  padding: 0 1rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #005792;
  padding: 3.5rem 1.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #005792;
}
p{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  color: #005792;
}
a {
  color: #005792;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  margin: .5rem;
  font-weight: bold;
  text-decoration: none;
}

hr {
  border-style: dotted none none;
  border-color: #40514e;
  width: 10%;
  border-width: 5px;
  margin: 100px auto;
}
/* Navbar prop */
.bg-light{
  background-color: #d9faff!important;
}
.codeLogo{
  max-height: 35px;
}

/* General styles */
.normalFW {
  font-weight: normal;
}

.doubLineh {
  line-height: 2;
}

.topContainer {
  background-color: #00bbf0;
  position: relative;
  padding-top: 100px;
}



.bottomContainer {
  background-color: #00bbf0;
  color: #EAF6F6;
  margin: 3rem 0 0 0;
  padding: 2.3rem;
}
.codeImg{
  max-width: 250px;
  max-height: 250px;
  padding: 1.5rem 0;
}

.skillImg {
  max-width: 150px;
  max-height: 150px;
}

.col-lg-2{
  padding: 1.5rem 0;
}
.row{
  padding: 1.5rem 0;
  margin-left: 0;
  margin-right: 0;
}
.btn-primary{
  background-color: #00bbf0;
  border-color: #00bbf0;
  margin-top: 1rem;

}
.btn-primary:hover{
  background-color: #005792;
}
/* Projects */
.projects{
  background-color: #00bbf0;
  /* padding-top: 3rem; */
}
.card{
  margin: 1.5rem 1rem;
  border-width: medium;
  border-color: #005792;
  max-width: 400px;
}
.card-img-top{
  padding-top: .7rem;
  max-width: 250px;
}


.gitP {
  margin: 2rem auto 2.3rem auto;
  max-width: 40%;
  line-height: 2;
}

a:hover {
  color: #00204a;
}

/* Bottom portion */
.hire-me{
  padding: 0 1rem;
}
